<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.js'></script>
    <script src="http://dc-js.github.io/dc.js/js/dc.js"></script>
    <link rel="stylesheet" type="text/css" href="http://dc-js.github.io/dc.js/css/dc.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ "style.css" }}"/>
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/jquery.fileDownload.js"></script>
    <script src="../js/queue.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/elasticsearch.min.js"></script>
    <script src="../js/client.js"></script>
    <script src="../js/registry.js"></script>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
