<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% if page.active == "intro" %}
            <li class="active"><a href="/demos">INTRO</a></li>
        {% else %}
            <li><a href="/demos">INTRO</a></li>
        {% endif %}

        {% if page.active == "acc" %}
            <li class="active"><a href="/demos/acc">ACC</a></li>
        {% else %}
            <li><a href="/demos/acc">ACC</a></li>
        {% endif %}

        {% if page.active == "moe" %}
            <li class="active"><a href="/demos/moe">MOE</a></li>
        {% else %}
            <li><a href="/demos/moe">MOE</a></li>
        {% endif %}

        {% if page.active == "mote" %}
            <li class="active"><a href="/demos/mote">MOTE</a></li>
        {% else %}
            <li><a href="/demos/mote">MOTE</a></li>
        {% endif %}


    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>