---
layout: demo
title: ACC
active: acc
description: Injury and Claims Statistics
---
  <div id='mask'></div>
  <div class='container'>
      <div class="page-title">
      <h1>{{ page.title }}</h1>
      <h4>{{ page.description }}</h4>
    </div>
    <div class='row'>
      <div class="col-sm-offset-8 col-sm-4">
        <a class="btn btn-default pull-right" href="javascript:dc.filterAll();">Reset All</a>
        <a class="btn btn-default pull-right" href="javascript:datafox.registry.scan();">Download CSV</a>
      </div>
    </div>
  <div class='row'>
    <div id='industry_chart' class="col-sm-3 dc-chart">
      <legend>Industry
        <a class="reset" href="javascript:industry_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='quarter_chart' class="col-sm-9 dc-chart">
      <legend>Quarter
        <a class="reset" href="javascript:quarter_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
  </div>
  <div class='row'>
    <div id='occupation_chart' class="col-sm-3 dc-chart">
      <legend>Occupation
        <a class="reset" href="javascript:occupation_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='ethnicity_chart' class="col-sm-3 dc-chart">
      <legend>Ethnicity
        <a class="reset" href="javascript:ethnicity_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='gender_chart' class="col-sm-3 dc-chart">
      <legend>Gender
        <a class="reset" href="javascript:gender_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='agegrp_chart' class="col-sm-3 dc-chart">
      <legend>Age
        <a class="reset" href="javascript:agegrp_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
  </div>
  <div class='row'>
    <div id='cause_chart' class="col-sm-3 dc-chart">
      <legend>Cause
        <a class="reset" href="javascript:cause_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='diagnosis_chart' class="dc-chart col-sm-3">
      <legend>Diagnosis
        <a class="reset" href="javascript:diagnosis_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='bodysite_chart' class="dc-chart col-sm-3">
      <legend>Body Site
        <a class="reset" href="javascript:bodysite_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
    <div id='fund_chart' class="dc-chart col-sm-3">
      <legend>Fund
        <a class="reset" href="javascript:fund_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      </legend>
    </div>
  </div>
</div>
<script src="demo.js"></script>
