---
layout: demo
title: Ministry of Trade and Enterprise
active: mote
description: Exports for Overseas Cargo (fob NZ$) - by Country of Destination, Commodity (HS2) and Period
---
  <div id='mask'></div>
  <div class='container'>
    <div class="page-title">
      <h1>{{ page.title }}</h1>
      <h4>{{ page.description }}</h4>
    </div>
    <div class='row'>
      <div class="col-sm-offset-8 col-sm-4">
        <a class="btn btn-default pull-right" href="javascript:dc.filterAll();">Reset All</a>
        <a class="btn btn-default pull-right" href="javascript:datafox.registry.scan();">Download CSV</a>
      </div>
    </div>
    <div class='row'>
      <div id='direction' class="col-sm-3 dc-chart">
        <legend>Direction
          <a class="reset" href="javascript:direction_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </legend>
      </div>
      <div id='year' class="col-sm-9 dc-chart">
        <legend>Year
          <a class="reset" href="javascript:year_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </legend>
      </div>
    </div>
    <div class='row'>
      <div id='country' class="col-sm-6 dc-chart">
        <legend>Country
          <a class="reset" href="javascript:country_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </legend>
      </div>
      <div id='commodity' class="col-sm-6 dc-chart">
        <legend>Commodity
          <a class="reset" href="javascript:commodity_chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
        </legend>
      </div>
    </div>
  </div>
  <script src="mote.js"></script>
</body>
</html>
