---
# Front-matter so Jekyll processes it
---

legend {
  margin-bottom: 0px;
}

.reset {
  float:right;
}

.dc-chart {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dc-chart .pie-slice {
    stroke-width: 1;
    stroke: white;
    fill: black;
    font-size: 12px;
    cursor: pointer;
}

.dc-chart text.pie-slice {
    stroke: white;
    stroke-width:0;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #fff;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke-width: 1;
    stroke: #fff;
    fill-opacity: 0.3;
}

.dc-chart g.row text.empty {
    fill: grey;
}

.dc-chart g.row text.row {
    fill: black;
}


.page-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: white;
}