---
layout: demo
title: Ministry of Education - School Enrolments
active: moe
description:
---
  <div id='mask'></div>
  <div class='container'>
    <div class="page-title">
      <h1>{{ page.title }}<small>{{ page.description }}</small></h1>
    </div>
    <div class='row'>
      <div class="col-sm-offset-8 col-sm-4">
        <a class="btn btn-default pull-right" href="javascript:dc.filterAll();">Reset All</a>
        <a class="btn btn-default pull-right" href="javascript:datafox.registry.scan();">Download CSV</a>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-6">
        <div id='year' class="dc-chart chart-panel">
          <div class='chart-panel-head'>Year<a class='reset' href='javascript:year_chart.filterAll()' style='display:none;'>reset</a></div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div id='subject_learning_area' class='dc-chart chart-panel'>
          <div class='chart-panel-head'>Learning Area<a class='reset' href='javascript:subject_learning_area_chart.filterAll()' style='display:none;'>reset</a></div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div id='subject_description'  class='dc-chart chart-panel'>
          <div class='chart-panel-head'>Description<a class='reset' href='javascript:subject_description_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
        <div id='student_gender' class='dc-chart chart-panel'><div class='chart-panel-head'>Gender<a class='reset' href='javascript:student_gender_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='student_year_level' class='dc-chart chart-panel'><div class='chart-panel-head'>Year Level<a class='reset' href='javascript:student_year_level_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_name' class='dc-chart chart-panel'><div class='chart-panel-head'>School<a class='reset' href='javascript:school_name_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_sector' class='dc-chart chart-panel'><div class='chart-panel-head'>Sector<a class='reset' href='javascript:school_sector_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
      <div id='school_type' class='dc-chart chart-panel'><div class='chart-panel-head'>Type<a class='reset' href='javascript:school_type_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_authority' class='dc-chart chart-panel'><div class='chart-panel-head'>Authority<a class='reset' href='javascript:school_authority_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_decile' class='dc-chart chart-panel'><div class='chart-panel-head'>Decile<a class='reset' href='javascript:school_decile_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_gender' class='dc-chart chart-panel'><div class='chart-panel-head'>Gender<a class='reset' href='javascript:school_gender_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
      <div id='school_affiliation_type' class='dc-chart chart-panel'><div class='chart-panel-head'>Affiliation Type<a class='reset' href='javascript:school_affiliation_type_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_affiliation' class='dc-chart chart-panel'><div class='chart-panel-head'>Affiliation<a class='reset' href='javascript:school_affiliation_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_definition' class='dc-chart chart-panel'><div class='chart-panel-head'>Definition<a class='reset' href='javascript:school_definition_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='school_kura_type' class='dc-chart chart-panel'><div class='chart-panel-head'>Kura Type<a class='reset' href='javascript:school_kura_type_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
      <div id='region_education_region' class='dc-chart chart-panel'><div class='chart-panel-head'>Education Region<a class='reset' href='javascript:region_education_region_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='region_regional_council' class='dc-chart chart-panel'><div class='chart-panel-head'>Regional Council<a class='reset' href='javascript:region_regional_council_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='region_territorial_authority' class='dc-chart chart-panel'><div class='chart-panel-head'>Territorial Authority<a class='reset' href='javascript:region_territorial_authority_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
      <div class='col-sm-3'>
      <div id='region_MOE_local_office' class='dc-chart chart-panel'><div class='chart-panel-head'>MOE Local Office<a class='reset' href='javascript:region_MOE_local_office_chart.filterAll();dc.redrawAll();' style='display:none;'>reset</a></div></div>
      </div>
    </div>
  </div>
  <script src="moe.js"></script>
