.wait, .wait * { cursor: wait !important; }

legend {
  margin-bottom: 0px;
}

.reset {
  float:right;
}

.dc-chart {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:95%;
}

.dc-chart .pie-slice {
    stroke-width: 1;
    stroke: black;
    fill: white;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
}

.dc-chart text.pie-slice {
    stroke: white;
    stroke-width:0;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #000;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke-width: 1;
    stroke: #000;
    fill-opacity: 0.3;
}

.dc-chart g.row text.empty {
    fill: grey;
}

.dc-chart g.row text.row {
    fill: white;
}

.dc-chart g g.axis {
  fill:white
}

body {
  background: url('images/rutherford.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

div.row {
  margin-bottom: 20px;
}

.chart-panel {
  background: rgba(0, 0, 0, 0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chart-panel-head {
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.7);
  color:#ddd;
  font-size: 1.3em;
  text-align: center;
  font-weight: 600;
}

.chart-panel svg {
  color:#ccc;
  background: rgba(0, 0, 0, 0.7);
}


.page-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: white;
}